@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #1a1a1a;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #faf8f5;
}
::-webkit-scrollbar-thumb {
  background: #9D7134;
  border-radius: 2px;
}
